
<h2>{{this.movieDetails.title}}</h2>
<p>Gender: {{this.movieDetails.genre}}</p>
<p>Plot:{{this.movieDetails.plot}}</p>

<h3>Cast</h3>
<ul>
  {{#each this.movieDetails.cast}}
    <li>
      <strong>Name:</strong> {{this.name}}<br>
      <strong>Ocuppation:</strong> {{this.occupation}}<br>
      <strong>Catch Phrase:</strong> {{this.catchPhrase}}
    </li>
  {{/each}}
</ul>
